
<br>
  <div class =" d-flex justify-content-center">
    <h2><i>Manage Orders</i></h2>
</div>

<br>

<p class =" d-flex justify-content-center">{{message}}</p>

<br>

<div class="container d-flex justify-content-center">
  <table >
      <thead>
          <td>Order ID</td>
          <td>Customer ID</td>
          <td>Order Type</td>
          <td>Status</td>
          <td>Delivery Address</td>
          <td>Billing Address</td>
      </thead>
      <tbody *ngFor="let order of orderList">
              <td #orderID>{{order.order_id}}</td>
              <td><u><a #customerID (click)="getCustomer(customerID)">{{order.customer_id}}</a></u></td>
              <td #orderType>{{order.orderType}}</td>
              <td #status>{{order.status}}</td>
              <td #deliveryAddress>{{order.deliveryAddress}}</td>
              <td #billingAddress>{{order.billingAddress}}</td>
              <td><button (click)="updateStatusPENDING(orderID);">PENDING</button></td>
              <td><button (click)="updateStatusDELIVERED(orderID);">DELIVERED</button></td>
              <td><button (click)="updateStatusCANCELED(orderID);">CANCELED</button></td>
      </tbody>
  </table>
</div>

<br>

<p class =" d-flex justify-content-center">Selected Customer</p>


<br>

<div *ngIf="customer" class = " d-flex justify-content-center container">
  <table >
    <thead>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Address</td>
    </thead>
    <tbody>
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.address}}</td>
    </tbody>
</table>


</div>

<br>