
 <img src="assets/img/billys.png" class="img-fluid" alt="Responsive image">


 <br>
 <br>
<div class="container-fluid d-flex justify-content-center "></div>
    
    <div class="container-fluid d-flex justify-content-center ">
        <h1 class=""><i>Welcome To Billys!</i></h1>

    </div>
    <div class="container-fluid d-flex justify-content-center ">
        <p class="">Update your information, manage reimbursements, or view employees</p>
    </div>

<div class =" d-flex justify-content-center"></div>


<div class="row">
    <div class="col-md-2 " ></div>
    
    <div class="col-md-4 " >
        <div  class ="d-flex justify-content-center">
            <img class="" src="assets/img/pizza.jpg">
        </div>

        <div class=" d-flex justify-content-center my-2">
            <a class="btn btn-primary" type="submit" routerLink="/Orders/CreateNewOrder">Order Online!</a>
        </div>
    </div>


    <div class="col-md-4" >
        <div  class ="d-flex justify-content-center">
            <img class=" " src="assets/img/table.jpg">
        </div>

        <div class=" d-flex justify-content-center my-2">
            <a class="btn btn-primary" type="submit" routerLink="/Reservation">Make a Reservation!</a>
        </div>
    </div>

    <div class="col-md-2 " ></div>
</div>


<br>

<div class =" d-flex justify-content-center">
<h2><i>Reviews:</i></h2>
</div>

<blockquote class="blockquote text-center">
    <p class="mb-0">The Greatest Restaurant I Have Ever Been To</p>
    <footer class="blockquote-footer"> Hayden Fields <cite title="Source Title">Food Magazine</cite></footer>
</blockquote>

<br>

<blockquote class="blockquote text-center">
    <p class="mb-0">I Ate Here 3 Times In One Day</p>
    <footer class="blockquote-footer"> Hingle McCringleberry <cite title="Source Title"> Rhinos</cite></footer>
</blockquote>

<br>


<app-footer></app-footer>







