<br>
  <div class =" d-flex justify-content-center">
    <h2><i>Menu:</i></h2>
    </div>

<br>

<div class="container d-flex justify-content-center">
<table >
    <thead>
        <td>Name</td>
        <td>Description</td>
        <td>Price</td>
    </thead>
    <tbody *ngFor="let item of menuList">
            <p style="display: none;" #menuID>{{item.menu_id}}</p>
            <td #itemName>{{item.itemName}}</td>
            <td #description>{{item.description}}</td>
            <td #price>{{item.price}}</td>
            <td><button (click)="addItemToOrderList2(menuID, itemName, description, price);">Add</button></td>
    </tbody>
</table>
</div>

<br>

<br>

<br>
  <div class =" d-flex justify-content-center">
    <h2><i>Order Form:</i></h2>
    </div>

<br>

<div class="row">
  <div class="col-md-2 " ></div>
  
  <div class="col-md-4 " >
      <div  class ="d-flex justify-content-center">
        <div class="container">
          <form [formGroup]="orderForm2" (ngSubmit)="submitOrderForm2()">
        
            <div class="form-group input-group-lg">
                <input class="form-control" type = "text" placeholder="First Name" formControlName="firstName">
             </div>
        
             <div class="form-group input-group-lg">
              <input class="form-control" type = "text" placeholder="Last Name" formControlName="lastName">
             </div>
        
            <div class="form-group input-group-lg">
            <input class="form-control" type = "text" placeholder="Email" formControlName="email">
             </div>
        
            <div class="form-group input-group-lg">
            <input class="form-control" type = "text" placeholder="Address" formControlName="address">
             </div>
        
            <div class="form-group input-group-lg">
                  <!-- <input class="form-control" type = "text" placeholder="DELIVERY, INHOUSE, PICKUP" formControlName="orderType"> -->
                  <select class="form-control" placeholder="DELIVERY" name="orderType" id="orderType" formControlName="orderType">
                    <option>DELIVERY</option>
                    <option>INHOUSE</option>
                    <option>PICKUP</option>
                  </select>
            </div>
        
            <!-- No Status Field-->
        
            <!-- No customer ID-->
        
            <div class="form-group input-group-lg">
                <input class="form-control" type = "text" placeholder="Delivery Address" formControlName="deliveryAddress">
            </div>
        
            <div class="form-group input-group-lg">
              <input class="form-control" type = "text" placeholder="Billing Address" formControlName="billingAddress">
            </div>
        
              <div class="form-group">
                  <button class="btn btn-danger btn-block btn-lg">Submit</button>
              </div>
          </form>
        </div>
      </div>

  </div>


  <div class="col-md-4" >
      <div  class ="d-flex justify-content-center">
        <div class="container">
          <table >
            <thead>
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
            </thead>
            <tbody *ngFor="let item of orderList">
                    <p style="display: none;" #menuID>{{item.menu_id}}</p>
                    <td #itemName>{{item.itemName}}</td>
                    <td #description>{{item.description}}</td>
                    <td #price>{{item.price}}</td>
                    <td><button (click)="removeItemFromOrderList2(menuID, itemName, description, price);">Remove</button></td>
            </tbody>
        </table>
        </div>
      </div>

  </div>

  <div class="col-md-2 " ></div>
</div>

<br>
<div class =" d-flex justify-content-center">
  <h4>Total Cost: </h4>
  <h4> ${{orderPrice}}</h4>
</div>

<br>

<p class =" d-flex justify-content-center">{{message}}</p>

<br>
