<div class="container-fluid bg-light py-5">
	<div class="row">

	<div class="col-sm">
	<h4 class="text-center">Phone <i class="fas fa-phone"></i>
    </h4>

	<h5 class="text-center">978-503-1067</h5>
	</div>

	<div class="col-sm">
	<h4 class="text-center">Email <i class="fas fa-envelope-square"></i></h4>
	<h5 class="text-center">BillyBob@gmail.com</h5>
	</div>

	<div class="col-sm">
	<h4 class="text-center">Location <i class="fas fa-map-pin"></i>
    </h4>
	<h5 class="text-center">Hillbilly, AK </h5>
	</div>
	</div>
</div>